{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#	<title>login</title>#}
{#</head>#}
{#<body>#}
{% extends 'temp/mainhome.html' %}
{% block login %}
	<h1 align="center">LOGIN</h1>
	<form method="post">
         {% csrf_token %}
		<table align="center">

			<tr>
				<td>Username</td>
				<td><input type="text" name="user" required ></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="auth_pass" required>
				</td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" name="login" value="Login">
								<input type="reset" name="cancel" value="Cancel"></td>
			</tr>
        </table>
    <script>
        {% for msg in messages %}
        alert("{{ msg }}");
        {% endfor %}
    </script>
    </form>
{% endblock %}
{#</body>#}
{#</html>#}